@page "/contacto"
@page "/contacto/{id:int}"

@using BlazorContactos.Shared.DTOs.Contactos;

@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>Agregar</h3>

<EditForm Model="contacto" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="col-lg-12">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <InputText id="Nombre" class="form-control" @bind-Value="@contacto.Nombre" />
            <ValidationMessage For="@(() => contacto.Nombre)" />
        </div>
    </div>

    <div class="col-lg-12">
        <div class="mb-3">
            <label class="form-label">Telefono</label>
            <InputText id="Telefono" class="form-control" @bind-Value="@contacto.Nombre" />
            <ValidationMessage For="@(() => contacto.Nombre)" />
        </div>
    </div>

    <div class="col-1g-12 text-end mb-3 pt-4">
        <hr />
        <button type="button" class="btn btn-danger" onclick="history.back()">Cancelar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>

</EditForm>


@code {
    protected ContactoDTO contacto = new ContactoDTO();
    [Parameter] public int id { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        {
            var response = await httpClient.GetFromJsonAsync<ContactoDTO>($"api/contactos/{id}");
            if (response != null)
            {
                contacto = response;
            }
        }
    }

    private async Task OnValidSubmit()
    {
        if (id > 0)
        {
            await httpClient.PutAsJsonAsync<ContactoDTO>("api/", contacto);
        }
        else
        {
            await httpClient.PostAsJsonAsync<ContactoDTO>("api/", contacto);
        }

        navigationManager.NavigateTo("");
    }
}
